.login-title,.signup-title
{
  margin:20px 0px;
}
.error-message
{
    margin-bottom: 20px;
    color: red;
}
.login-form-parent,.signup-form-parent
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}
.login-form
{
    border: 1px solid black;
    border-radius:30px;
    height:472px;
    padding:5% 6%;
}
.signup-form
{
    border: 1px solid black;
    border-radius:30px;
    height:385px;
    padding:5% 6%;
}
.form-row
{
    padding:20px 0px;
}
.btn-row
{
    margin-top:15px;
}
.button
{
    width: 100%;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    padding: 10px 0px;
    margin: 10px 0px;
    background-color: dodgerblue;
    color: white;
}
.button:hover
{
   box-shadow: 0px 0px 20px black;
}